<nav>
  <a routerLink="/" class="logo">
    <img src="assets/handshake.png" alt="Hominum Logo" class="logo-img">
    <span class="brand">Hominum</span>
  </a>

  <button class="menu-toggle" (click)="toggleMenu()">☰</button>

  <ul [class.active]="isMenuOpen">
    <ng-container *ngIf="authService.isLoggedIn()">
      <li><a routerLink="/calendar" (click)="isMenuOpen=false">Calendario</a></li>
      <li><a routerLink="/dashboard" (click)="isMenuOpen=false">Dashboard</a></li>
      <li><a (click)="authService.logout(); isMenuOpen=false" class="logout-btn">Salir</a></li>
    </ng-container>

    <li *ngIf="!authService.isLoggedIn()">
      <a routerLink="/login" (click)="isMenuOpen=false">Acceder</a>
    </li>
  </ul>
</nav>