<header class="hero">
  <h1>Voluntariado</h1>
  <p>
    En Centro de Cuidados HOMINUM tiene como uno de los pilares de actuación la promoción de la cultura solidaria, 
    a través de programas de voluntariado, con el objetivo de acompañar y dar respuesta a la soledad no deseada 
    en el final de vida, poniendo énfasis en el respeto a la vida y a la preservación de su calidad en las 
    fases más complicadas de las enfermedades de las personas y sus familiares.
  </p>
  <p>
    El objetivo general del proyecto es aliviar la experiencia de sufrimiento provocada por la soledad en 
    personas que se encuentran en situación de enfermedad crónica y/o avanzada mediante el acompañamiento 
    comprometido y continuado de nuestro equipo de voluntariado en los lugares de residencia de las personas usuarias.
  </p>
  <p>
    Si te interesa conocer mejor nuestras actividades de voluntariado y de qué manera puedes colaborar con nosotros 
    rellena el siguiente formulario y nos pondremos en contacto contigo. Estaremos encantados de recibirte. 
    Para ponerte en contacto con nosotros 
    <a href="mailto:info@centrohominum.org">haz clic aquí</a>.
  </p>
</header>