<div class="modal-container">
  <div class="modal-content">
    <h3>{{ formModel.id ? 'Editar Evento' : 'Nuevo Evento' }}</h3>

    <div class="form-group-radio">
      <label><input type="radio" [(ngModel)]="eventType" value="patient" (change)="onTypeChange()"> Paciente</label>
      <label><input type="radio" [(ngModel)]="eventType" value="general" (change)="onTypeChange()"> Evento</label>
    </div>

    @if (eventType === 'patient') {
    <div class="form-group">
      <label>Paciente (*)</label>
      <select [(ngModel)]="formModel.patient_id" (change)="onPatientChange()" required>
        <option [ngValue]="null" disabled>Seleccione un paciente</option>
        @for (patient of patients; track patient.id) {
        <option [ngValue]="patient.id">{{ patient.name }}</option>
        }
      </select>
    </div>
    } @else {
    <div class="form-group">
      <label>Tipo de Evento (*)</label>
      <select [(ngModel)]="formModel.title" (change)="onEventTypeChange()" required>
        <option [ngValue]="null" disabled>Seleccione una categoría</option>
        @for (type of eventTypes; track type.id) {
        <option [ngValue]="type.title">{{ type.title }}</option>
        }
      </select>
    </div>
    }

    <div class="form-group">
      <label>Inicio</label>
      <input type="datetime-local" [(ngModel)]="formModel.start_datetime" (change)="onStartChange()" />
    </div>

    <div class="form-group">
      <label>Fin</label>
      <input type="datetime-local" [(ngModel)]="formModel.end_datetime" />
    </div>

    <div class="form-group">
      <label>Observaciones</label>
      <textarea [(ngModel)]="formModel.comments" placeholder="Notas adicionales..."></textarea>
    </div>

    <div class="actions">
      <button type="button" class="btn-save" (click)="save()">Guardar</button>
      @if (formModel.id) {
      <button type="button" class="btn-delete" (click)="onDelete()">Eliminar</button>
      }
      <button type="button" class="btn-cancel" (click)="close.emit()">Cancelar</button>
    </div>
  </div>
</div>