<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # EXCLUIR CUALQUIER COSA QUE EMPIECE POR /backend/
  # Esto pasa la petición al servidor Node.js/Passenger directamente
  RewriteRule ^backend/ - [L,NC]

  # REDIRECCIONAR A ANGULAR: Si no es un archivo físico ni carpeta, ve a index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>